.superInput {
    margin: 10px;
    background: #f0d5d8;
    color: #433156;
}

.input:focus {
    outline: none;
    border: 2px solid #433156;
}

.errorInput {
    border: 2px solid #a41717;
    background: #a41717;
}

.error {
    color: #a41717;
    height: 21px;
    margin-left: 10px;
    font-family: "Comic Sans MS";
}