
.header_wrapper {
    display: inline-block;
    position: relative;
    height: 30px;
}

.hover_div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    top: 7px;
    right: 0px;
    left: 10px;
    background-color: #d580c8;
    cursor: pointer;
}

.link {
    padding: 5px;
    color: azure;
    text-decoration: none;
}

.link:visited {
    color: azure;
    text-decoration: none;
}

.link:hover {
    color: #d580c8;
    text-shadow: #d580c8 0px 0px 10px;
}

.sidebar {
    white-space: nowrap;
    width: 0;
    margin-top: 5px;
    margin-left: 30px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 1s ease 0s;
}

.header_wrapper:hover .sidebar  {
    width: 300px;
    white-space: nowrap;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    animation: fade 0,5s;
    animation: open 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes open {
    0% {
        width: 0;
    }
    100% {
        width: 300px;
    }
}

